doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    style.
      @font-face {
        font-family: "Raleway";
        src: url("assets/fonts/Raleway-Regular.ttf");
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: "Raleway";
        src: url("assets/fonts/Raleway-Light.ttf");
        font-weight: lighter;
        font-style: normal;
      }

    link(href="assets/css/normalize.css", type="text/css", rel="stylesheet")
    //link(href="assets/css/skeleton.css", type="text/css", rel="stylesheet")

    if develop
      link(href="css/app.css", type="text/css", rel="stylesheet")
    else
      link(href="css/app-#{version}.min.css", type="text/css", rel="stylesheet")
  body
    section(data-slide-name="start")
      .v-align
        h1 snabbt.js
        h2
          em The minimalistic animation library


    section.me-slide(data-slide-name="me")
      h2 ME
      .v-align
        img(src="assets/images/netlight-purple.png")

        p.twitter-handle @danielundin
        p github.com/daniel-lundin

    section(data-slide-name="agenda")
      h2 Agenda
      .v-align
        .flex
          .col-50
            h3 Part 1
            ul.centered-text
              li Framerates
              li Browser rendering
              li Layout thrashing

          .col-50
            h3 Part 2
            p snabbt.js

    section(data-slide-name="fps")
      h2 Framerates
      .v-align
        p 60 FPS ~= 16.66667ms / FRAME

    section(data-slide-name="domtopixel")
      h2 DOM to pixel
      .v-align
        pre.fragment.code-box.centered
          code.language-javascript element.style.width = '100px';

        .render-graph
          .box.fragment Recalculate style
          .box.fragment Layout
          .box.fragment Paint
          .box.fragment Composite layers

        p.fragment Remember: One frame is 16.6667ms!

    section(data-slide-name="domtopixel-2")
      h2 DOM to pixel
      .v-align
        ul
          li Layout - width, height, padding, margin, display
          li Paint - color, border-style, visibility, background, text-decoration
          li Composite layers - transform, opacity

        .render-graph
          .box Recalculate style
          .box.strike Layout
          .box.strike Paint
          .box Composite layers

        p.fragment Remember: One frame is 16.6667ms!


    section(data-slide-name="domtopixel")
      .v-align
        h2 Layout thrashing
        pre
          code.language-javascript snabbt({
            |  position: [100, 100, 0]
            |})

    section(data-slide-name="part2")
      .v-align
        h1 PART 2
        h2 snabbt.js

    section(data-slide-name="snabbt")
      h3 snabbt.js in one slide
      .v-align
        p Move DOM elements from one state* to another
        p *State:
        ul
          li transform (position, rotation, scale, skew)
          li opacity

    section(data-slide-name="snabbt")
      .v-align
        
        h2 what is snabbt.js?
        p.fragment Matrix multiplication library
        p.fragment Tweener
        p.fragment +Rocketsauce

    section(data-slide-name="snabbt")
      .v-align
        h2 What it isn't
        p 
        p Tweener
        p +Rocketsauce


    section
      h2 Basic API
      .v-align
        pre.code-box.centered.fragment
          code.language-javascript snabbt(element, animationConfiguration)

        pre.code-box.centered.fragment
          code.language-javascript snabbt(element, {
            |  position: [100, 100, 0]
            |})
    if develop
      each jsFile in jsLibFiles
        script(src="js/#{jsFile}")

    each jsFile in jsFiles
      script(src="js/#{jsFile}")

    if develop
      script(src="//localhost:9001/livereload.js")
