doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    style.
      @font-face {
        font-family: "Raleway";
        src: url("assets/fonts/Raleway-Regular.ttf");
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: "Raleway";
        src: url("assets/fonts/Raleway-Light.ttf");
        font-weight: lighter;
        font-style: normal;
      }

    link(href="assets/css/normalize.css", type="text/css", rel="stylesheet")
    link(href="assets/css/skeleton.css", type="text/css", rel="stylesheet")

    if develop
      link(href="css/app.css", type="text/css", rel="stylesheet")
    else
      link(href="css/app-#{version}.min.css", type="text/css", rel="stylesheet")
  body
    section(data-slide-name="start")
      .v-align
        h1 snabbt.js
        h2 
          em The minimalistic animation library

        h3 Daniel Lundin @danielundin

    section.me-slide(data-slide-name="me")
      h2 ME
      .v-align
        img(src="assets/images/netlight-purple.png")

        p.twitter-handle @danielundin
        p github.com/daniel-lundin

    section(data-slide-name="agenda")
      h2 Agenda
      .v-align
        
        .flex
          .agenda-box
            h3 Part 1
            ul
              li Framerates
              li Browser rendering
              li Layout thrashing

          .agenda-box
            h3 Part 2
            .snabbt-header snabbt.js

    section(data-slide-name="fps")
      h2 Framerates
      .v-align
        p 60 FPS ~= 16.66667ms / FRAME

    section(data-slide-name="domtopixel")
      .v-align
        h2 Slide 4

    if develop
      each jsFile in jsLibFiles
        script(src="js/#{jsFile}")

    each jsFile in jsFiles
      script(src="js/#{jsFile}")

    if develop
      script(src="//localhost:9001/livereload.js")
