doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    title Visa.js
    

    style.
      @font-face {
        font-family: "Raleway";
        src: url("assets/fonts/Raleway-Regular.ttf");
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: "Raleway";
        src: url("assets/fonts/Raleway-Light.ttf");
        font-weight: lighter;
        font-style: normal;
      }

    link(href="assets/css/normalize.css", type="text/css", rel="stylesheet")

    if develop
      link(href="css/app.css", type="text/css", rel="stylesheet")
    else
      link(href="css/app-#{version}.min.css", type="text/css", rel="stylesheet")
  body.presentation-body
    .nav.nav-left
    .nav.nav-right
    section(data-slide-name="start")
      .v-align
        h1 visa.js
        h2
          em Presentation tool


    section(data-slide-name="me")
      h2 Daniel Lundin
      .v-align
        p github.com/daniel-lundin/visa

    section(data-slide-name="agenda")
      h2 Agenda
      .v-align
        h3 Part 1 - Intro
        ul.centered-text
          li Stuff
          li More stuff
          li ...

        h3 Part 2 - Profit

    section(data-slide-name="fps")
      h2 Code
      .v-align
        p Show me some code
        pre.code-box.centered.fragment
          code.language-javascript theList.map(function(item) { return item.name; });
        div.fragment
          pre.code-box.centered
            code.language-javascript theList.map((item) => item.name);

    if develop
      each jsFile in jsLibFiles
        script(src="js/#{jsFile}")

    each jsFile in jsFiles
      script(src="js/#{jsFile}")

    if develop
      script(src="//localhost:9001/livereload.js")
