@import 'vendor/prism-dark';

body {
  font-family: "Raleway";
  font-weight: lighter;
}

.nav {
  position: fixed;
  bottom: 8vw;
  z-index: 2;
  -webkit-transform: translateZ(100px);

  &:before {
    content: "";
    position: absolute;
    margin: 2vw;
    width: 4vw;
    height: 4vw;
    box-sizing: border-box;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;

  }

  &.nav-left {
    left: 0;

    &:before {
      border-right: 2vw solid #333;
    }
  }

  &.nav-right {
    right: 8vw;

    &:before {
      border-left: 2vw solid #333;
    }
  }
}

.presentation-body {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  background: #eee;
  -webkit-transform: translateX(-10000px);

  h1,
  h2,
  h3 {
    margin-top: 5vh;
    text-align: center;
    font-weight: lighter;
  }

  h1 {
    font-size: 20vh;
  }

  h2 {
    font-size: 10vh;
  }

  h3 {
    font-size: 8vh;
    margin-bottom: 0;
  }

  ul {
    font-size: 5vh;
    list-style: none;
  }

  p {
    font-size: 5vh;
    text-align: center;
  }
}

.v-align {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.agenda-box {
  font-size: 20px;
  display: inline-block;
  width: 50%;
  margin: 0 4%;
  height: 60vh;
  background: #733;
  color: #eee;
  border-radius: 3vh;

  > ul {
    margin-left: 5vh;
  }


  .snabbt-header {
    text-align: center;
    font-size: 10vh;
  }
}

.flex {
  margin: 1vw;
  display: flex;
  display: -webkit-flex;

  .col-50 {
    width: 50%;
  }
}

.padded {
  padding: 20px;
}

.code-box {
  font-size: 4vh;
  margin-bottom: 1vh;

  &.small {
    font-size: 3vh;
  }

  &.centered {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.centered-text {
  text-align: center;
}

.center-50 {
  width: 50%;
  margin: 0 auto !important;
  display: block;
}
blockquote {
  font-size: 5vh;
  font-style: italic;

  &.centered {
    width: 80%;
    margin: 0 auto;
  }
}

.bullet-list {
  list-style: disc;
  margin-top: 4vh !important;

  > li {
    margin-top: 1vh;
  }

  &.centered {
    width: 60%;
    margin: 0 auto;
  }
}
