@import 'vendor/prism-dark';
@import 'multi-element';
@import 'manual-demo';
@import 'parallax';
@import 'flipper';
@import 'freestyle';

body {
  font-family: "Raleway";
  font-weight: lighter;
}

.presentation-body {
  //width: 100vw;
  //height: 100vh;
  overflow: hidden;
  //position: relative;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  background: #eee;
  -webkit-transform: translateX(-10000px);

  h1,
  h2,
  h3 {
    margin-top: 5vh;
    text-align: center;
    font-weight: lighter;
  }

  h1 {
    font-size: 20vh;
  }

  h2 {
    font-size: 10vh;
  }

  h3 {
    font-size: 8vh;
    margin-bottom: 0;
  }

  ul {
    font-size: 5vh;
    list-style: none;
  }

  p {
    font-size: 5vh;
    text-align: center;
  }
}

.v-align {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.agenda-box {
  font-size: 20px;
  display: inline-block;
  width: 50%;
  margin: 0 4%;
  height: 60vh;
  background: #733;
  color: #eee;
  border-radius: 3vh;

  > ul {
    margin-left: 5vh;
  }


  .snabbt-header {
    text-align: center;
    font-size: 10vh;
  }
}

.flex {
  margin: 1vw;
  display: flex;

  .col-50 {
    width: 50%;
  }
}

.padded {
  padding: 20px;
}

.me-slide {

  img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }

  .twitter-handle {
    font-family: Arial;
  }
}

.code-box {
  font-size: 4vh;
  margin-bottom: 1vh;

  &.small {
    font-size: 3vh;
  }

  &.centered {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.centered-text {
  text-align: center;
}

.center-50 {
  width: 50%;
  margin: 0 auto !important;
  display: block;
}

.render-graph {
  display: flex;
  margin-top: 10vh;

  .box {
    position: relative;
    font-size: 3vh;
    padding: 2vw;
    display: inline-block;
    border-radius: 1vh;
    color: #eee;
    width: 25%;
    text-align: center;
    margin: 0 1vw;
    max-height: 30vh;
    overflow: hidden;
    
    .heading {
      font-size: 4vh;
    }

    &:nth-child(1) {
      background: #c33;
    }

    &:nth-child(2) {
      background: #105e23;
    }

    &:nth-child(3) {
      background: #99830f;
    }

    &:nth-child(4) {
      background: #33c;
    }
  }

  .render-words {
    position: relative;
    padding: 0;
    font-size: 3vh;
  }
}

blockquote {
  font-size: 5vh;
  font-style: italic;

  &.centered {
    width: 80%;
    margin: 0 auto;
  }
}

.bullet-list {
  list-style: disc;
  margin-top: 4vh !important;

  > li {
    margin-top: 1vh;
  }

  &.centered {
    width: 60%;
    margin: 0 auto;
  }
}

#chaining {
  position: relative;
  width: 300px;
  height: 300px;

  .ball {
    position: absolute;
    background: #339;
    width: 50px;
    height: 50px;
    border-radius: 100%;

    &:nth-child(1) {
      background: #c33;
    }

    &:nth-child(2) {
      background: #105e23;
    }

    &:nth-child(3) {
      background: #99830f;
    }

    &:nth-child(4) {
      background: #33c;
    }

  }
  //border-radius: 10px;
  //color: #fff;
  //font-size: 5vh;
  //padding: 2vh;
  //cursor: pointer;
  //width: 20vw;
  //margin: 2vh auto 0;
  //text-align: center;
}

.relative {
  position: relative;
}

#intro-animation {
  width: 100px;
  height: 100px;
  background: #f0f;
  margin: 0 auto;
}

.simple-examples {
  width: 400px;
  margin: 0 auto;

}

.example-box {
  width: 100px;
  height: 100px;
  background: #33c;
  margin-left: 5vh;
  transform: translateZ(0);
}

#spring-easing {
  opacity: 0;
}

#spring-easing-example {
  font-size: 6vh;
  background: #955;
  width: 30vw;
  margin: 0 auto;
}

.ease-word {
  display: inline-block;
}
