@import 'vendor/prism-dark';

body {
  font-family: "Raleway";
  font-weight: lighter;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  background: #eee;
  -webkit-transform: translateX(-10000px);

  h1,
  h2,
  h3 {
    margin-top: 5vh;
    text-align: center;
    font-weight: lighter;
  }

  h1 {
    font-size: 20vh;
  }

  h2 {
    font-size: 10vh;
  }

  h3 {
    font-size: 8vh;
  }

  ul {
    font-size: 5vh;
    list-style: none;
  }

  p {
    font-size: 5vh;
    text-align: center;
  }
}

.v-align {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.agenda-box {
  font-size: 20px;
  display: inline-block;
  width: 50%;
  margin: 0 4%;
  height: 60vh;
  background: #733;
  color: #eee;
  border-radius: 3vh;

  > ul {
    margin-left: 5vh;
  }


  .snabbt-header {
    text-align: center;
    font-size: 10vh;
  }
}

.flex {
  display: flex;
}

.me-slide {

  img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }

  .twitter-handle {
    font-family: Arial;
  }
}
